
/* MAINPAGE */
.mainpage{
  height: 100vh;
  width: 100vw;
}
/*
.mainpage video{
  height: 100%;
  object-fit: cover;
}*/
.main__title{
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__title h1{
  font-family: 'Black Han Sans', sans-serif;
  text-align: center;
  font-size: 5rem;
  margin-bottom: 20px;
  animation: colorChan 4s ease forwards;
  line-height: 90%;
}
.main__title h2{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  animation: colorChan 4s ease forwards;
}
@keyframes colorChan {
  0%{
    color: white;
  }100%{
    color: #903749;
  }
}
.mainpage h2{
  position: absolute;
  left: 50%;
  top: 92%;
  transform: translate(-50%,-50%);
  color: white;
  font-size: 1rem;
}
.mainpage .fa-chevron-down{
  position: absolute;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  left: 50%;
  top: 97%;
  transform: translate(-50%,-50%);
}
/*
.mainpage p{
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: 200;
  color: white;
  font-size: .5rem;
}*/