@import "./reset.css";
@import "./main.css";
@import "./sub.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

html{
  overflow-x: hidden;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  overflow-x: hidden;
}
input:invalid+span:after {
  content: '✖';
}
input:valid+span:after {
  content: '✓';
}


/* RESULT */
.result{
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: #eee;
  position: relative;
}
.result__container{
  width: 85%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.result__container span{
  font-family: 'Black Han Sans', sans-serif;
  font-size: 1.5rem;
  line-height: 2;
}
.result__container p{
  margin-top: 8px;
}